/* <link rel="stylesheet" type="text/css" href="base.css"> */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: #1e1f22;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-title{
    color: #5e50a1;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 20px;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.side_panel {
    background-color:#2B2D31;
    width: 200px;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.second {
    flex: 1;
    background-color:rgb(143, 142, 142);
    display: flex;
    flex-wrap: wrap; /* Allow content boxes to wrap */
    padding: 20px;
}

.box {
    height: 65vh;
    width: 1020px;
    position: relative;
    border: 1px solid rgb(243, 238, 238);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#qrcode-container {
    width: 50%; /* Adjust the width for the QR code container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qrcode {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

#qr-video {
    width: 100%; /* Adjusted video width */
    max-width: 400px; /* Added max-width to video */
    height: auto; /* Maintain aspect ratio */
}

.video-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

#qr-result-container {
    text-align: center;
    margin-top: 10px;
}

#qr-canvas {
    width: 100%; /* Adjusted canvas width */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Added max-width to canvas */
}

#qr-result {
    text-align: left;
    margin-top: 20px;
}

.content-box {
    flex: 0 0 calc(20% - 10px); /* Four boxes in one row without margin */
    height: 80px;
    display: flex;
    flex-direction: column;
    margin: 5px; /* Add margin here */
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
    font-size: 18px;
}

/* Buttons */
button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: lightyellow; /* Change background color on hover */
}

.spanel_button {
    margin: 5px;
    background-color: #5e50a1;
    border: 1px solid gray;
    width: 100%;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer on hover */
    transition: background-color 0.3s; /* Added hover effect transition */
}

.spanel_button a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.spanel_button:hover{
    background-color: #4ebcfc;
}

.updateBtn{
    background-color: green;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.updateBtn:hover{
    color: greenyellow;
}

.updateBtn a{
    text-decoration: none;
    color: greenyellow;
}

.deleteBtn {
    background-color: red;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.deleteBtn a{
    text-decoration: none;
    color: #ffddbb;
}

.detailsBtn {
    background-color: #6da5c0;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.detailsBtn a{
    text-decoration: none;
}

.qrBtn {
    background-color: #ffc942;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.qrBtn a{
    text-decoration: none;
    color: #5e50a1;
}

.logout {
    background-color: #5e50a1;
    color: #4ebcfc;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }

.logout a{
    color: black;
    text-decoration: none;
}
  
.logout:hover {
    color: #5e50a1;
    background-color: #4ebcfc;
}