.nav {
    background-color: rgb(224, 222, 222);
    padding: 10px;
    text-align: center;
}

.side_panel {
    width: 200px;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.second {
    flex: 1;
    background-color:rgb(143, 142, 142);
    display: flex;
    flex-wrap: wrap; /* Allow content boxes to wrap */
    padding: 20px;
}

.dashboard{
    color: black;
    background-color: grey;
    height:88px;
    top: 0;
    left: 0;
    position: absolute;
    width: 240px;
}

.spanel_button {
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid gray;
    width: 100%;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer; /* Add cursor pointer on hover */
    transition: background-color 0.3s; /* Added hover effect transition */
}

.button:hover {
    background-color: lightyellow; /* Change background color on hover */
}

.box {
    height: 279px;
    width: 1020px;
    position: relative;
    border: 1px solid rgb(243, 238, 238);
    display: flex; /* Added flex display */
    flex-wrap: wrap; /* Allow content boxes to wrap */
    padding: 10px; /* Adjust padding */
    box-sizing: border-box; /* Include padding in width */
}

.content-box {
    flex: 0 0 calc(20% - 20px); /* Four boxes in one row without margin */
    height: 80px;
    display: flex;
    flex-direction: column;
    margin: 5px; /* Add margin here */
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    
    transition: background-color 0.3s; /* Added hover effect transition */
}

.content-box:hover {
   
   
    background-color: lightyellow; /* Change background color on hover */
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}